Plugins>SReD, "Make noise mask", MapNoise_
Plugins>SReD, "Stabilise variance (GAT)", TransformImageByVST_
Plugins>SReD, "Find synthetic patch redundancy", ArtificialBlockRedundancy_
Plugins>SReD, "Find patch redundancy (time lapse)", PatchRedTime_
Plugins>SReD, "Global Redundancy", RedundancyMap_
Plugins>SReD, "Classify Redundancy", ClassifyRedundancy_
Plugins>SReD, "OpenCL Preferences...", OpenCLPreferences_

