Plugins>SReD>Noise variance stabilisation, "Map noise pixels (2D)", MapNoise_
Plugins>SReD>Noise variance stabilisation, "-"
Plugins>SReD>Noise variance stabilisation, "Stabilise noise variance (2D)", VarianceStabilisingTransform2D_
Plugins>SReD>Noise variance stabilisation, "Stabilise noise variance (3D)", VarianceStabilisingTransform3D_
Plugins>SReD>Block repetition, "Find block repetition (2D)", BlockRedundancy2D_
Plugins>SReD>Block repetition, "Find block repetition (3D)", BlockRedundancy3D_
Plugins>SReD>Block repetition, "Find block repetition (2D+T)", BlockRedundancy2DT_
Plugins>SReD, "Find global repetition", RedundancyMap_
Plugins>SReD, "Cluster repetition scores", ClassifyRedundancy_
Plugins>SReD, "OpenCL Preferences...", OpenCLPreferences_

